
.bodoni-moda-body_font {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


html, body {padding: 0px;
        margin: 0px;
        overflow-x: hidden;
        background-color: #FAF9F6 
        }


.container {max-width: 1280px;      /* Restricts the size on large screens */
    width: 100%;            /* Allows it to shrink on smaller screens */
    margin: 0 auto;         /* Centers the div inside the section */
    padding-top: 100px; 
    padding-bottom: 100px;
    padding-left: 20px;     /* Optional: prevents text hitting screen edges on mobile */
    padding-right: 20px;    /* Optional: prevents text hitting screen edges on mobile */
    box-sizing: border-box;
    gap: 20px;
    }

.side_by_side {display: flex;
    max-width: 1280px;      /* Restricts the size on large screens */
    width: 100%;            /* Allows it to shrink on smaller screens */
    margin: 0 auto;         /* Centers the div inside the section */
    padding-top: 100px; 
    padding-bottom: 100px;
    padding-left: 20px;     /* Optional: prevents text hitting screen edges on mobile */
    padding-right: 20px;    /* Optional: prevents text hitting screen edges on mobile */
    box-sizing: border-box;
    gap: 20px; 
    
    }

.left_container, .right_container {max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;     /* Optional: prevents text hitting screen edges on mobile */
    padding-right: 20px;    /* Optional: prevents text hitting screen edges on mobile */
    box-sizing: border-box;
    padding-bottom: 100px;
    display: flex 1
    
    }

#hero {background-image: 
        linear-gradient(to right, #ECE2D0, rgba(0, 0, 0, 0)),
        url(dunkin.jpeg) ;
        background-size: cover;
        background-repeat: none;
        background-position: center;
        gap: 20px;
       }

#hero h1 {width: 65%}

#hero p {color: black;
        width: 60%}

header {background-color: #582C4D;
        }

header h1 {font-size: 40px;
            color: #BFB5AF}

.header {max-width: 1280px;
    width: 100%;
    margin: 0 auto;          /* Centers the entire header on large screens */
    padding: 20px;           /* 20px padding on all sides */
    display: flex;
    justify-content: space-between; /* Pushes logo to left, nav to right */
    align-items: center;     /* Keeps logo and nav lined up vertically */
    box-sizing: border-box;}

.title { width: 100%;
    margin: 0 auto;          /* Centers the entire header on large screens */
    padding: 0px;         /* 20px padding on all sides */
    display: flex;
    justify-content:left; /* Pushes logo to left, nav to right */
    align-items: center;     /* Keeps logo and nav lined up vertically */
    box-sizing: border-box;
    gap: 20px;
    }

nav {}   

nav ul {padding: 0 20px;         /* Shorthand: 0 top/bottom, 20px left/right */
    display: flex;
    align-items: center;     /* Vertically aligns the logo and links */
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px
    }

nav li {text-decoration: none;}

nav a:link {color:#BFB5AF;
            text-decoration: none;}

nav a:visited {
    color: #BFB5AF; 
    text-decoration: none;
}
nav a:hover {background-color: #985F99;
        border-radius: 15px;
        padding: 20px}

main {flex: 1}



#services {background-color: #A26769;
            display:flex;
            flex-direction: column;}
#services h3 {color: #ECE2D0}

.top {max-width: 1280px; 
    padding-top: 100px;    /* Restricts the size on large screens */
    width: 100%;            /* Allows it to shrink on smaller screens */
    margin: 0 auto;         /* Centers the div inside the section */
    padding-left: 20px;     /* Optional: prevents text hitting screen edges on mobile */
    padding-right: 20px;    /* Optional: prevents text hitting screen edges on mobile */
    box-sizing: border-box;
    gap: 20px; }

.bottom {display: flex;
    max-width: 1280px;      /* Restricts the size on large screens */
    width: 100%;            /* Allows it to shrink on smaller screens */
    margin: 0 auto;         /* Centers the div inside the section */
    padding-bottom: 100px;
    padding-left: 20px;     /* Optional: prevents text hitting screen edges on mobile */
    padding-right: 20px;    /* Optional: prevents text hitting screen edges on mobile */
    box-sizing: border-box;
    gap: 20px; }

.card {padding: 30px;
    width: 33%;
    border: 5px, solid, #ECE2D0;
    border-radius: 15px;
    justify-content: center; 
    background-color: #ECE2D0;
    }




#cta {background-color: #ECE2D0}

h1 {font-size: 72px }
h1 a:link {color: #BFB5AF; 
            text-decoration: none;}

h1 a:visited {
    color: #BFB5AF; 
    text-decoration: none;
}


h2 {font-size: 40px;
    }

h3 {font-size: 30px;
    color: #A26769 }

h4 {font-size: 20px}


p {font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px; 
    color: #9E9285;
    letter-spacing: 1.5px  ;}

button {border-radius: 15px;
        margin-top: 20px;
        padding: 20px;
        font-size: 15px;
        color: #BFB5AF;
        letter-spacing: 1.5px  ;
        font-family: Georgia, 'Times New Roman', Times, serif;
        border-width: 1px;
        border-color: white;
        }

button:hover {color: white;
                background-color: #A26769;
                border-color: none}      

footer {
    background-color:  #582C4D;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding-bottom: 20px;
    flex-shrink: 0;
    color: #BFB5AF }

#footer {
    padding: 10px
}

footer p {margin: 0; }

/* blackberry cream #582C4D
# smoky rose #A26769
# almond silk #D5B9B2
# bone #ECE2D0
# silver #BFB5AF */ 